<h1>Help</h1>
<p>The store page features all the products sold. Each item can be added to the cart and can be "purchased." </p>
<p>Login to access administrative features like products, orders, and users.</p>
<p>Weeee</p>
